<h1> <%= @nations.size %> Results</h1>
<% @nations.each do |nation|%>
  <section class='nation'>
    <h2 class='name'> <%= nation.name %>
      <ul>
        <li class='photo'> <%= nation.photo %>
        <li class='allies'> <%= nation.allies %>
        <li class='enemies'> <%= nation.enemies %>
        <li class='affiliations'> <%= nation.affiliations %>
      </ul>
  </section>
<% end %>
