<% @nation.each do |person| %>
  <section id="person-id">
    <h1>Name: <%= person[:name].capitalize %></h1>
    <%= image_tag "#{person[:photoUrl]}" %>
    <h1><% person[:_id] %></h1>
    <h1>Allies: <%= person[:allies] %></h1>
    <h1>Enemies: <%= person[:enemies] %></h1>
    <h1>Affiliations: <%= person[:affiliation] %></h1>
    <hr><br>
  </section>
<% end %>
