<h1>Search for Members in <%= @nation %></h1>

<% @nation_members.each do |member| %>
  <section id="member-<%=member.id%>">
    <h5>Name: <%= member.name %></h5>
    <p>Alies: <%= member.alies %></p>
    <p>Enemies: <%= member.enemies %></p>
    <p>Affiliations: <%= member.affiliations %></p>
  </section>
<% end %>
